<h1>MANIK Roy</h1>

{% schema %}
  {
    "name": "Product Badge",
    "target": "body",
    "stylesheet": "product-badge.css",
    "javascript": "product-badge.js",
    "settings": [

    ]
  }
{% endschema %}